<div id="main">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
  <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-10">

          <!-- Title -->
          <h1 class="mt-8"><%= @article.title %></h1>

          <!-- Author -->
          <p class="lead">
            by <%= @article.user.email %></a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>
            Posted on <%= @article.created_at.strftime("%B %d, %Y") %> 
          </p>

          <hr>

          <!-- Preview Image -->

          <%=image_tag @article.image_url(:display), class: "img-fluid rounded" %>  
   
          <hr>
          <!-- Post Content -->
          <p><%= @article.body.to_s.html_safe %></p>

          <hr>
          <div class="fb-comments" data-href= <%= 'pametri.herokuapp.com' + article_path %> data-numposts="5"></div>
         
    </div>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=214690008882946&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
</div>